body {
      font-family: Arial, sans-serif;
      background-color: #002800;
      margin: 0;
      padding: 0;
    }

    header {
      background-color: #333;
      padding: 10px;
      color: #fff;
    }

    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .navbar ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    .navbar ul li {
      display: inline;
      margin-right: 10px;
    }

    .navbar ul li a {
      color: #fff;
      text-decoration: none;
      transition: color 0.3s;
    }

    .navbar ul li a:hover {
      color: #009800;
    }

    .section {
      margin: 20px;
      padding: 20px;
    }

    h2 {
      color: #fff;
    }

    .content {
      margin-top: 10px;
    }

    .info-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 20px;
    }

    .info-box {
      background-color: transparent;
      border: none;
      padding: 0;
      border: 2px solid #fbffff;
      box-shadow: 0 0 10px #fbffff;
      animation: glowing 2s infinite;
      border-radius: 5px;
    }

    footer {
      background-color: #333;
      padding: 10px;
      color: #fff;
      text-align: center;
    }

    /* CSS for sticky navigation */
    .sticky {
      position: fixed;
      top: 0;
      width: 100%;
    }

    .center-align {
      text-align: center;
    }
